services:
  frontend:
    build: ./frontend
    container_name: frontend_container
    ports:
      - "3000:3000"
    environment:
      REACT_APP_API_URL: http://localhost:4000
    depends_on:
      - backend

  backend:
    build: ./backend
    container_name: backend_container
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongodb

  mongodb:
    image: mongo:7.0   
    container_name: mongodb_container
    ports:
      - "27017:27017"  
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: mydb
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:



