name: Build and Push Docker Images

on:
  push:
    branches: [ "main" ]        # Trigger when pushing to the main branch
  workflow_dispatch:             # Allow manual trigger from Actions tab

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # ---------- FRONTEND ----------
      - name: Build and push FRONTEND image
        uses: docker/build-push-action@v6
        with:
          context: ./frontend
          push: true
          tags: thamindubandara/internet_packages_recommendation_system-frontend:latest
          platforms: linux/amd64

      # ---------- BACKEND ----------
      - name: Build and push BACKEND image
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          push: true
          tags: thamindubandara/internet_packages_recommendation_system-backend:latest
          platforms: linux/amd64
